<!-- src/main/resources/templates/fragments/menu.html -->
<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
  <!-- The next line allows us to include the menu bar in other thymeleaf template files -->
  <div th:fragment="menu-bar">
  <!-- Menu Bar -->
    <nav class="menu-bar">
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/customer_index}">Customer Index</a></li>
        <li><a th:href="@{/employee_index}">Employee Index</a></li>
        <li><a th:href="@{/order_index}">Order Index</a></li>
        <li th:if="${#ctx.session.loggedInUser == null}"><a th:href="@{/user_index}">Login/Register</a></li>
        <li th:unless="${#ctx.session.loggedInUser == null}"><a th:href="@{/logout}">Logout</a></li>
      </ul>
      <p th:text="${#locale}"></p>
    </nav>
    <div th:replace="~{fragments/language_menu :: language-menu-bar}"></div>
  </div>
  </body>
</html>