<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<!-- Include the menu bar fragment -->
<div th:replace="~{fragments/menu :: menu-bar}"></div>

<table th:each="c : ${customers}">
    <tr>
        <td>ID Number:</td>
        <td th:text="${c.customerNumber}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${c.customerName}"></td>
    </tr>
    <tr>
        <td>Contact:</td>
        <td th:text="|${c.contactFirstName} ${c.contactLastName}|"></td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td th:text="${c.phone}"></td>
    </tr>
    <tr> </tr>
</table>
</body>
</html>