<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Employee Index</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
    <div>
        <!-- Include the menu bar fragment -->
        <div th:replace="~{fragments/menu :: menu-bar}"></div>

        <form method="get" action="/greet_controller">
            <label for="empId">Employee ID:</label><br>
            <input type="text" name="empId" required><br>
            <input type="submit" value="Get your greeting here...">
        </form>
    </div>
        <p>View all employees <a href="/viewEmployees">here</a></p>
        <div>
            <form method="post" action="/editEmail">
                <label for="empId">Employee ID:</label><br>
                <input type="text" id="empId" name="empId" required><br>
                <label for="email">New Email:</label><br>
                <input type="text" id="email" name="email" required><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>