<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<table th:each="emp : ${employees}">
    <tr>
        <td>ID Number:</td>
        <td th:text="${emp.employeeNumber}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="|${emp.firstName} ${emp.lastName}|"></td>
    </tr>
    <tr>
        <td>Title:</td>
        <td th:text="${emp.jobTitle}"></td>
    </tr>
    <tr>
        <td>Reports to:</td>
        <td th:text="${emp.reportsTo}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${emp.email}"></td>
    </tr>
    <tr>
        <td>Extension:</td>
        <td th:text="${emp.extension}"></td>
    </tr>
    <tr>
        <td>Office number:</td>
        <td th:text="${emp.officeCode}"></td>
    </tr>
    <tr> </tr>
</table>
</body>
</html>