<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title th:text="#{index.title}"></title>
        <link rel="stylesheet" href="/css/styles.css" />
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    </head>
    <body>
        <!-- Include the menu bar fragment -->
        <div th:replace="~{fragments/menu :: menu-bar}"></div>

        <div>
            Each menu option brings you to a dedicated area for that topic.<br/>
            Menu bar has been included from a fragment file (menu.html)
        </div>
    </body>
</html>